# Ignore Doxygen output
html/
latex/

# Ignore temporary backup files
*.bak
*~
*.swp

# Ignore build artifacts
*.o
*.obj
*.exe
*.dll
*.lib

# Ignore IDE/editor folders
.vscode/
*.code-workspace
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system files
Thumbs.db
desktop.ini

